$sm: 30em;
$md: 48em;
$lg: 62em;
$xl: 80em;

.swiper {
  width: 100%;
  height: 100%;
  .swiperSlide {
    width: 100%;
    height: 100%;
    display: grid;
    align-items: center;
  }
}

.swiperPaginationBullet {
  margin: 0 0.25rem;
  cursor: pointer;
  width: 0.5rem;
  height: 0.5rem;
  display: inline-block;
  border-radius: 50%;
  background-color: #ffffff;
  opacity: 0.42;
}

.swiperPaginationBulletActive {
  background-color: #fe8c00;
  opacity: 1;
}

.swiperButtonPrev, .swiperButtonNext {
  color: #fe8c00;
  position: absolute;
  top: 50%;
  z-index: 10;
  border-radius: 50%;
  width: 4rem;
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.2s ease all;
  border: 2px solid transparent;
  margin-top: -2rem;
  font-size: 2.5rem;
  &:hover {
    border: 2px solid #fe8c00;
    cursor: pointer;
  }
}

.swiperButtonPrev {
  left: .5rem;
  right: auto;
  padding-right: 0.1rem;
}

.swiperButtonNext {
  right: .5rem;
  left: auto;
  padding-left: 0.1rem;
}
