<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body style="margin: 0; padding: 0;">
    <table style="width: 100%; margin: 0; padding: 0; border: 0; border-collapse: collapse; border-spacing: 0;">
        <tr>
            <td style="background-color: #ffffff; border: 0; margin: 0; padding: 0;">&nbsp;</td>
            <td style="background-color: #ffffff; border: 0; margin: 0; padding: 0; width: 700px;">&nbsp;<br />&nbsp;</td>
            <td style="background-color: #ffffff; border: 0; margin: 0; padding: 0;">&nbsp;</td>
        </tr>
        <tr>
            <td style="background-color: #ffffff; border: 0; margin: 0; padding: 0;">&nbsp;</td>
            <td style="background-color: #ffffff; border: 0; margin: 0; padding: 0; width: 600px;">
                <div style="background-color: #323a43; border-radius: 4px 4px 0 0; padding: 20px; text-align: center;">
                    <img src="https://i.ibb.co/p4xxc0R/logo-fvgestao-email-header.png" style="height: 62px;" alt="Dental Gold" title="Dental Gold">
                </div>
            </td>
            <td style="background-color: #ffffff; border: 0; margin: 0; padding: 0;">&nbsp;</td>
        </tr>
        <tr>
            <td style="background-color: #ffffff; border: 0; margin: 0; padding: 0; height: 50px;">&nbsp;</td>
            <td style="background-color: #ffffff; border: 0; margin: 0; padding: 0; width: 600px;" rowspan="2">
                <div style="background-color: #e79a2e; padding: 30px; margin: 0; border: 0; text-align: center; font-family: 'Open Sans', 'Helvetica Neue', 'Helvetica', Arial, sans-serif; color: #444444;">
                    <strong style="text-transform: uppercase; font-size: 14px; display: block; padding: 5px 0;">Nova mensagem do site</strong>
                </div>
            </td>
            <td style="background-color: #ffffff; border: 0; margin: 0; padding: 0; height: 50px;">&nbsp;</td>
        </tr>
        <tr>
            <td style="background-color: #f5f5f5; border: 0; margin: 0; padding: 0;">&nbsp;</td>
            <td style="background-color: #f5f5f5; border: 0; margin: 0; padding: 0;">&nbsp;</td>
        </tr>
        <tr>
            <td style="background-color: #f5f5f5;">&nbsp;</td>
            <td style="font-family: 'Open Sans', 'Helvetica Neue', 'Helvetica', Arial, sans-serif; background-color: #ffffff; color: #43474a; padding: 20px;">
                Algum visitante do site deseja enviar uma mensagem para nós.<br />
                Abaixo segue os dados do usuário:
                <br /><br />
                <strong>Nome:</strong> {nome}<br />
                <strong>Empresa:</strong> {empresa}<br />
                <strong>E-mail:</strong> {email}<br />
                <strong>Cidade:</strong> {municipio} / {uf}<br />
                <strong>Celular:</strong> {celular}<br />
                <br />
                <strong>Página de origem:</strong> {pagina}
            </td>
            <td style="background-color: #f5f5f5;">&nbsp;</td>
        </tr>
        <tr>
            <td style="background-color: #f5f5f5;" colspan="3">&nbsp;<br />&nbsp;</td>
        </tr>
    </table>
</body>
</html>
